<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.MPChart">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="LineChartActivity1"
            android:exported="false" />
        <activity
            android:name="LineChartActivity2"
            android:exported="false" />
        <activity
            android:name="LineChartTime"
            android:exported="false" />
        <activity
            android:name="BarChartActivity"
            android:exported="false" />
        <activity
            android:name="HorizontalBarChartActivity"
            android:exported="false" />
        <activity
            android:name="HorizontalBarNegativeChartActivity"
            android:exported="false" />
        <activity
            android:name="PieChartActivity"
            android:exported="false" />
        <activity
            android:name="PiePolylineChartActivity"
            android:exported="false" />
        <activity
            android:name="MultiLineChartActivity"
            android:exported="false" />
        <activity
            android:name="BarChartActivityMultiDataset"
            android:exported="false" />
        <activity
            android:name="DrawChartActivity"
            android:exported="false" />
        <activity
            android:name="ScatterChartActivity"
            android:exported="false" />
        <activity
            android:name="BubbleChartActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.SimpleChartDemo"
            android:exported="false" />
        <activity
            android:name="ListViewBarChartActivity"
            android:exported="false" />
        <activity
            android:name="ListViewMultiChartActivity"
            android:exported="false" />
        <activity
            android:name="StackedBarActivity"
            android:exported="false" />
        <activity
            android:name="AnotherBarActivity"
            android:exported="false" />
        <activity
            android:name="InvertedLineChartActivity"
            android:exported="false" />
        <activity
            android:name="CandleStickChartActivity"
            android:exported="false" />
        <activity
            android:name="CubicLineChartActivity"
            android:exported="false" />
        <activity
            android:name="RadarChartActivity"
            android:exported="false" />
        <activity
            android:name="LineChartActivityColored"
            android:exported="false" />
        <activity
            android:name="DynamicalAddingActivity"
            android:exported="false" />
        <activity
            android:name="RealtimeLineChartActivity"
            android:exported="false" />
        <activity
            android:name="CombinedChartActivity"
            android:exported="false" />
        <activity
            android:name="PerformanceLineChart"
            android:exported="false" />
        <activity
            android:name="BarChartActivitySinus"
            android:exported="false" />
        <activity
            android:name="ScrollViewActivity"
            android:exported="false" />
        <activity
            android:name="StackedBarActivityNegative"
            android:exported="false" />
        <activity
            android:name="BarChartPositiveNegative"
            android:exported="false" />
        <activity
            android:name="FilledLineActivity"
            android:exported="false" />
        <activity
            android:name="HalfPieChartActivity"
            android:exported="false" />
    </application>

</manifest>